*{
    margin: 0px;
    padding: 0px;
}

.n-wrapper{
    margin-bottom: 95px;
}
.nav-con{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 1px #888888;
}

.n-nav-links{
    margin-left: 300px;
}

.n-nav-p{
    margin-left: 100px;
}

.n-link{
    padding: 30px 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 17px;
}

@media (max-width: 425px){  

.nav-con{
    position: fixed;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 1px #888888;
}

.n-nav-p{
    padding: 30px 0px;
    margin-left: 0px;
}

.n-nav-links{
   margin-left: 0;
   align-items: center;
}

} 