*{
    margin: 0px;
    padding: 0px;
}
.n-wrapper{
    /* position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 15; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(232, 225, 225);
}

.n-nav{
    display: flex;
    flex-direction: row;
}

.n-logo{
    font-weight: 600;
    font-size: 30px;
}

.n-link{
    padding: 30px 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 17px;
}