*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.g-wrapper{
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1524055988636-436cfa46e59e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: 30%;
    object-fit: cover;
}

img{
    display: block;
    cursor: pointer;
}

.g-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 0px 0px;
}

.g-title{
    margin: 20px 0px;
}

.g-selected {
    width: 55vw;
    height: 50vh;
    border: 5px solid rgb(210, 158, 210);
}

.g-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0px;
}



@media (max-width: 425px) {

    .g-selected {
        width: 90vw;
        height: 50vh;
        border: 3px solid rgb(210, 158, 210);
    }

    .g-bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px;
    }

    img{
        width: 100px;
        height: 40px;
    }

    .g-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: none;
    }

}